@model PersonDocumentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthDate" class="control-label"></label>
                <input asp-for="Person.BirthDate" class="form-control" />
                <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthPlace" class="control-label"></label>
                <input asp-for="Person.BirthPlace" class="form-control" />
                <span asp-validation-for="Person.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthProvince" class="control-label"></label>
                <input asp-for="Person.BirthProvince" class="form-control" />
                <span asp-validation-for="Person.BirthProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthCountry" class="control-label"></label>
                <input asp-for="Person.BirthCountry" class="form-control" />
                <span asp-validation-for="Person.BirthCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhonePrefix" class="control-label"></label>
                <input asp-for="Person.PhonePrefix" class="form-control" />
                <span asp-validation-for="Person.PhonePrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PhoneNumber" class="control-label"></label>
                <input asp-for="Person.PhoneNumber" class="form-control" />
                <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.RoleRelation" class="control-label"></label>
                <select asp-for="Person.RoleRelation" class="form-control" />
                    @foreach(var role in Enum.GetValues(typeof(RoleRelation))){
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="Person.RoleRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.SerialNumber" class="control-label"></label>
                <input asp-for="Document.SerialNumber" class="form-control" />
                <span asp-validation-for="Document.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.IssuedBy" class="control-label"></label>
                <input asp-for="Document.IssuedBy" class="form-control" />
                <span asp-validation-for="Document.IssuedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.IssuedDate" class="control-label"></label>
                <input asp-for="Document.IssuedDate" class="form-control" />
                <span asp-validation-for="Document.IssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.IssuingCountry" class="control-label"></label>
                <input asp-for="Document.IssuingCountry" class="form-control" />
                <span asp-validation-for="Document.IssuingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdfCopyPath" class="control-label"></label>
                <input type="file" accept="application/pdf" asp-for="PdfCopyPath" class="form-control" />
                <span asp-validation-for="PdfCopyPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
