html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#calendarTable {
  margin: 20px auto; /* Centers the table */
  border-collapse: collapse;
  width: auto; /* Keeps the width flexible */
}

#calendarTable th, 
#calendarTable td {
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    border: 2px solid black;
    padding: 0;
    position: relative; /* Enables absolute positioning inside */
    vertical-align: top; /* Ensures content is aligned to the top */
}

.dayPlaceholder {
    position: absolute; /* Positions the placeholder */
    top: 2px; /* Sticks it to the top */
    left: 2px; /* Aligns it slightly from the left */
    font-weight: bold;
}